/* Contact Section */
.contact-section {
  max-width: 700px;
  margin: 40px auto;
  padding: 25px;
  background: #ffffff;
  border: 1px solid #eee;
  border-radius: 12px;
  box-shadow: #3a9188;
  text-align: center;
}

.contact-section h2 {
  font-size: 26px;
  margin-bottom: 10px;
  color: #3a9188;  /* cute green */
}

.contact-section p {
  font-size: 15px;
  color: #666;
  margin-bottom: 20px;
}

/* Form Styling */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  text-align: left;
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  display: block;
  color:#444 ;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 96%;
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border 0.3s ease;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border: 1px solid #3a9188; /* focus color */
  box-shadow: #3a9188;
}

/* Submit Button */
.btn {
  background: #b8e1dd;   /* soft mint */
  color: #3a9188;
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background: #3a9188;   /* dark green */
  color: #fff;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-section {
    margin: 20px;
    padding: 20px;
  }
}




/* Base select hide nahi karte, bas style karte */
.custom-select select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

form textarea {
  resize: none;   /* resize option remove */
  width: 100%;
  height: 120px;  /* fixed height */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}
form {
  font-family: 'Nunito', sans-serif;
  color: #333;
}